<!-- Footer
      ================================================== -->
      <footer>
      <div class="container">
      <div class="row">
      
      <div class="span4">
        <h3>地址</h3>
        <p>江苏省靖江市敦义大桥北首</p>
      </div>
      
      <!-- tweets begin here -->
      <div class="span4">
        <h3>联系方式</h3>
         <div class="tweets">
            <p>
                固定电话：0523-84259188
            </p>
            <p>
                祁先生：13705261995
            </p>
            <p>
                黄女士：15996039943
            </p>
        </div>

      </div>
      
      <div class="span4">
         <h3>邮箱</h3>
         <div class="tweets">
            <p>
                qyj810@163.com
            </p>
        </div>
        <h3>QQ</h3>
         <div class="tweets">
            <p>
                973154098 474445497
            </p>
        </div>
      </div>
      
      <div class="span12 copy">
       Copyright &copy; 2014.Company name All rights reserved.
      </div>

      </div>
      </div>
      </footer>