<div class="container">


<!-- Content
================================================== --> 

 <section>
 
<div class="row">


<div class="span8">
<div class="row">




<div class="span8" style="margin-bottom:20px;">
<div class="divider-strip block-title"><h4>Our Team</h4><span class="strip-block"></span></div>
<p><em>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</em></p>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.</p> 
</div>

<!-- Team
================================================== -->

 <div class="span2 item-block">

        <img src="img/user.jpg" alt="example-item">

      <div class="desc clearfix center">
      <h2>John Smith</h2>
       <p>Web Designer & Developer</p>
       <ul class="socicon">
                      
                       
                        <li>
                            <a href="#" class="facebook">
                            </a>
                        </li>
                        <li>
                            <a href="#" class="twitter">
                            </a>
                        </li>
                        
                        <li>
                            <a href="#" class="dribbble">
                            </a>
                        </li>
                        <li>
                            <a href="#" class="linkedin">
                            </a>
                        </li>
                        <li class="last">
                            <a href="#" class="vimeo">
                            </a>
                        </li>
                       
                    </ul>
     
      </div>
</div>
<div class="span2 item-block">

        <img src="img/user.jpg" alt="example-item">

      <div class="desc clearfix center">
      <h2>John Smith</h2>
       <p>Web Designer & Developer</p>
       <ul class="socicon">
                      
                       
                        <li>
                            <a href="#" class="facebook">
                            </a>
                        </li>
                        <li>
                            <a href="#" class="twitter">
                            </a>
                        </li>
                        
                        <li>
                            <a href="#" class="dribbble">
                            </a>
                        </li>
                        <li>
                            <a href="#" class="linkedin">
                            </a>
                        </li>
                        <li class="last">
                            <a href="#" class="vimeo">
                            </a>
                        </li>
                       
                    </ul>
     
      </div>
</div>
<div class="span2 item-block">

        <img src="img/user.jpg" alt="example-item">

      <div class="desc clearfix center">
      <h2>John Smith</h2>
       <p>Web Designer & Developer</p>
       <ul class="socicon">
                      
                       
                        <li>
                            <a href="#" class="facebook">
                            </a>
                        </li>
                        <li>
                            <a href="#" class="twitter">
                            </a>
                        </li>
                        
                        <li>
                            <a href="#" class="dribbble">
                            </a>
                        </li>
                        <li>
                            <a href="#" class="linkedin">
                            </a>
                        </li>
                        <li class="last">
                            <a href="#" class="vimeo">
                            </a>
                        </li>
                       
                    </ul>
     
      </div>
</div>
<div class="span2 item-block">

        <img src="img/user.jpg" alt="example-item">

      <div class="desc clearfix center">
      <h2>John Smith</h2>
       <p>Web Designer & Developer</p>
       <ul class="socicon">
                      
                       
                        <li>
                            <a href="#" class="facebook">
                            </a>
                        </li>
                        <li>
                            <a href="#" class="twitter">
                            </a>
                        </li>
                        
                        <li>
                            <a href="#" class="dribbble">
                            </a>
                        </li>
                        <li>
                            <a href="#" class="linkedin">
                            </a>
                        </li>
                        <li class="last">
                            <a href="#" class="vimeo">
                            </a>
                        </li>
                       
                    </ul>
     
      </div>
</div>



<div class="span4">
<div class="divider-strip block-title"><h4>Our Philosophy</h4><span class="strip-block"></span></div>
<p><em>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</em></p>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. </p>
</div>
<div class="span4">
<div class="divider-strip block-title"><h4>Our Mission</h4><span class="strip-block"></span></div>
<p><em>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</em></p>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.</p> 
</div>

<!-- Our Services
================================================== --> 

   <div class="span8">
   <div class="divider-strip block-title"><h4>Our Services</h4><span class="strip-block"></span></div>
    <div class="row">
    
    <div class="span4 block-info pull-left">
      <img class="pull-left" src="img/create-icon.png" alt="">
      <h3><a href="#">web design</a></h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
    </div>
    <div class="span4 block-info pull-left">
      <img class="pull-left" src="img/develop-icon.png" alt="">
      <h3><a href="#">development</a></h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
    </div>
    <div class="span4 block-info pull-left">
      <img class="pull-left" src="img/usability-icon.png" alt="">
      <h3><a href="#">usability</a></h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
    </div>
    <div class="span4 block-info pull-left">
      <img class="pull-left" src="img/responsive.png" alt="">
      <h3><a href="#">responsive</a></h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
    </div>
    
    </div>
    </div>


<div class="span8">
    
    <div class="divider-strip block-title"><h4>Testimonials</h4><span class="strip-block"></span></div>
      <div class="testimonialswrap" data-autorotate="3000">
    
    <ul class="testimonials-slider" id="testimonials">
      <li class="testimonials-slide"> 
         <blockquote><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
<small>John Doe</small></blockquote>
      </li>
      <li class="testimonials-slide"> 
        <blockquote><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
<small>John Doe</small></blockquote>
      </li>
      <li class="testimonials-slide"> 
        <blockquote><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
<small>John Doe</small></blockquote>
      </li>
      <li class="testimonials-slide"> 
        <blockquote><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
<small>John Doe</small></blockquote>
      </li>
      <li class="testimonials-slide"> 
        <blockquote><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
<small>John Doe</small></blockquote>
      </li>
    </ul>
        
        <div class="testimonials-controls">
      <a href="#testimonials" class="next-l">1</a>
      <a href="#testimonials" class="prev-l">2</a>
    </div>
        
  </div>
    </div>



 </div>
</div>

<!-- Sidebar
================================================== -->

<div class="span4">
    
    <div class="divider-strip block-title"><h4>Testimonials</h4><span class="strip-block"></span></div>
      <div class="testimonialswrap" data-autorotate="3000">
    
    <ul class="testimonials-slider" id="testimonials">
      <li class="testimonials-slide"> 
         <blockquote><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
<small>John Doe</small></blockquote>
      </li>
      <li class="testimonials-slide"> 
        <blockquote><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
<small>John Doe</small></blockquote>
      </li>
      <li class="testimonials-slide"> 
        <blockquote><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
<small>John Doe</small></blockquote>
      </li>
      <li class="testimonials-slide"> 
        <blockquote><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
<small>John Doe</small></blockquote>
      </li>
      <li class="testimonials-slide"> 
        <blockquote><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
<small>John Doe</small></blockquote>
      </li>
    </ul>
        
        <div class="testimonials-controls">
      <a href="#testimonials" class="next-l">1</a>
      <a href="#testimonials" class="prev-l">2</a>
    </div>
        
  </div>
    </div>

<div class="span4">

<div class="divider-strip block-title"><h4>Our Skills</h4><span class="strip-block"></span></div>
<p><em>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </em></p>
 
      <h6>Web design</h6>
      
      <div class="progress progress-warning progress-striped active" style="margin-bottom: 9px;">
        <div class="bar" style="width: 50%"></div>
      </div>
      
      <h6>Web design</h6>
      
      <div class="progress progress-success progress-striped active" style="margin-bottom: 9px;">
        <div class="bar" style="width: 70%"></div>
      </div>
      <h6>Web design</h6>
      
      <div class="progress progress-striped active" style="margin-bottom: 9px;">
        <div class="bar" style="width: 80%"></div>
      </div>
      <h6>Web design</h6>
      
      <div class="progress progress-danger progress-striped active" style="margin-bottom: 9px;">
        <div class="bar" style="width: 90%"></div>
      </div>
      <h6>Web design</h6>
      
      <div class="progress progress-info progress-striped active" style="margin-bottom: 9px;">
        <div class="bar" style="width: 100%"></div>
      </div>
      
      <div class="divider-strip block-title"><h4>Example tabs</h4><span class="strip-block"></span></div>
<p><em>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </em></p>
          <ul id="myTab" class="nav nav-tabs">
            <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
            <li><a href="#profile" data-toggle="tab">Profile</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#dropdown1" data-toggle="tab">@fat</a></li>
                <li><a href="#dropdown2" data-toggle="tab">@mdo</a></li>
              </ul>
            </li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="home">
              <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
            </div>
            <div class="tab-pane fade" id="profile">
              <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia yr, vero magna velit sapiente labore stumptown.</p>
            </div>
            <div class="tab-pane fade" id="dropdown1">
              <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>
            </div>
            <div class="tab-pane fade" id="dropdown2">
              <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
            </div>
          </div>
          
          <div class="divider-strip block-title"><h4>Gallery Widget</h4><span class="strip-block"></span></div>
          <p><em>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </em></p>
          <div class="carousel" id="Carousel">
<div class="carousel-inner">

<div class="active item"><img src="img/blog-examples/blog-home-c.jpg" alt="" width="370"></div>
<div class="item"><img src="img/blog-examples/blog-home-c2.jpg" alt="" width="370"></div>
<div class="item"><img src="img/blog-examples/blog-home-c3.jpg" alt="" width="370"></div>

</div>
<!-- Carousel nav -->
<a class="carousel-control left" href="#Carousel" data-slide="prev">&lsaquo;</a>
<a class="carousel-control right" href="#Carousel" data-slide="next">&rsaquo;</a>
    </div>
 </div>
      

</div><!--/row-->
</section>
  
  <div class="divider"></div>

    </div><!-- /container -->
