<div class="container">


<!-- Content
================================================== --> 

  <section>

  <div class="row">


  <div class="span8">
  <div class="row">




  <div class="span8" style="margin-bottom:20px;">
  <div class="divider-strip block-title"><h4>Our Team</h4><span class="strip-block"></span></div>
  <p><em>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</em></p>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.</p> 
  </div>

  <!-- Our Services
  ================================================== --> 

   <div class="span8">
   <div class="divider-strip block-title"><h4>Our Services</h4><span class="strip-block"></span></div>
    <div class="row">
    
    <div class="span4 block-info pull-left">
      <img class="pull-left" src="img/create-icon.png" alt="">
      <h3><a href="#">web design</a></h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
    </div>
    <div class="span4 block-info pull-left">
      <img class="pull-left" src="img/develop-icon.png" alt="">
      <h3><a href="#">development</a></h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
    </div>
    <div class="span4 block-info pull-left">
      <img class="pull-left" src="img/usability-icon.png" alt="">
      <h3><a href="#">usability</a></h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
    </div>
    <div class="span4 block-info pull-left">
      <img class="pull-left" src="img/responsive.png" alt="">
      <h3><a href="#">responsive</a></h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
    </div>
    
    </div>
    </div>
  </div>
  </div>

  <!-- Sidebar
  ================================================== -->

  <div class="span4">

    <div class="divider-strip block-title"><h4>Gallery Widget</h4><span class="strip-block"></span></div>
      <p><em>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </em></p>
     <!--  <div class="carousel" id="Carousel" data-autorotate="3000">
        <div class="carousel-inner" id="carousel-inner">

          <div class="carousel-item"><img src="img/blog-examples/blog-home-c.jpg" alt="" width="370"></div>
          <div class="carousel-item"><img src="img/blog-examples/blog-home-c2.jpg" alt="" width="370"></div>
          <div class="carousel-item"><img src="img/blog-examples/blog-home-c3.jpg" alt="" width="370"></div>

        </div>
        <a class="carousel-control left" href="#carousel-inner" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#carousel-inner" data-slide="next">&rsaquo;</a>
    </div> -->

    <div class="testimonialswrap" data-autorotate="3000">
      
      <ul class="testimonials-slider" id="testimonials">
        <li class="testimonials-slide"> 
          <img src="img/blog-examples/blog-home-c3.jpg" alt="" width="370">
        </li>
        <li class="testimonials-slide"> 
          <img src="img/blog-examples/blog-home-c3.jpg" alt="" width="370">
        </li>
        <li class="testimonials-slide"> 
          <img src="img/blog-examples/blog-home-c3.jpg" alt="" width="370">
        </li>
        <li class="testimonials-slide"> 
          <img src="img/blog-examples/blog-home-c3.jpg" alt="" width="370">
        </li>
        <li class="testimonials-slide"> 
          <img src="img/blog-examples/blog-home-c3.jpg" alt="" width="370">
        </li>
      </ul>
          
      <div class="testimonials-controls">
        <a href="#testimonials" class="next-l">1</a>
        <a href="#testimonials" class="prev-l">2</a>
      </div>
          
    </div>
  </div>


  </div><!--/row-->
  </section>
  
<div class="divider"></div>

</div><!-- /container -->
<script data-main="/javascripts/about.js" src="/js/require.js"></script>
