<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{site.name}}</title>
    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{site.description}}">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <!-- CSS files begin-->
    <link href="css/reset.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/docs.css" rel="stylesheet">
    <link href="js/google-code-prettify/prettify.css" rel="stylesheet">
    <link href="css/responsiveslides.css" rel="stylesheet">
    <link rel="stylesheet" href="css/prettyPhoto.css" type='text/css'>
    <link rel="stylesheet" href="build/mediaelementplayer.min.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/slide-in.css" />
	<!--[if lt IE 9]><link rel="stylesheet" type="text/css" media="screen" href="css/slide-in.ie.css" />
	<![endif]-->
    <link href="css/style.css" rel="stylesheet">
    <!-- Color Style Setting CSS file-->
    <link href="css/color-theme/color-sgrey.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- fav and touch icons -->
    <link rel="shortcut icon" href="ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
   
</head>

<body>
{{>header}}
{{{body}}}
{{>footer}}
</body>

 <!-- JavaScript files begin-->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.ufvalidator-1.0.5.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.cycle.all.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/application.js"></script>
    <script src="js/responsiveslides.min.js"></script>
    <script src="build/mediaelement-and-player.min.js"></script>
    <script src="js/gmap3.min.js"></script>
    <script src="js/carusel.js"></script>
    <script src="js/jquery.ui.totop.js" type="text/javascript"></script>
    <script type="text/javascript">
    $(document).ready(function() {
    $().UItoTop({ easingType: 'easeOutQuart' });
    });
    </script>
    <script type="text/javascript" src="js/sslider-min.js"></script>
    <script type="text/javascript"> 
        
        /mobile/i.test(navigator.userAgent) && !location.hash && setTimeout(function () {
          if (!pageYOffset) window.scrollTo(0, 1);
        }, 1000);
        
        $(document).ready(function(){
            var options = {
                nextButton: true,
                prevButton: true,
                pauseButton: true,
                animateStartingFrameIn: true,
                transitionThreshold: 250,
                afterLoaded: function(){
                    $("#nav").fadeIn(100);
                    $("#nav li:nth-child("+(sequence.settings.startingFrameID)+") img").addClass("active");
                },
                beforeNextFrameAnimatesIn: function(){
                    $("#nav li:not(:nth-child("+(sequence.nextFrameID)+")) img").removeClass("active");
                    $("#nav li:nth-child("+(sequence.nextFrameID)+") img").addClass("active");
                }
            };

            var sequence = $("#sequence").sequence(options).data("sequence");
            
            $("#nav li").click(function(){
                if(!sequence.active){
                    $(this).children("img").removeClass("active").children("img").addClass("active");
                    sequence.nextFrameID = $(this).index()+1;
                    sequence.goTo(sequence.nextFrameID);
                }
            });
        });
    </script>
</html>